[Desktop Entry]
Type=Application
Version=1.0
Name=Install Vital OS
GenericName=System Installer
Comment=Install Vital OS 0.1.1
Exec=sudo -n -E calamares
Icon=vitalos
Terminal=false
StartupNotify=true
Categories=System;
Keywords=install;calamares;vital;
